.homeDiv {
    width: 100% 
 }
 
 .historyContainer {
     width: 30%;
     height: 100%
 }
 
.row {
    text-align: center;
}

.rightColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16%;
}


.loadingRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadingDiv {
    font-size: large;
    padding: 0 0 5px 15px;
}


/* Room */
.roomButton {
    width: 190px;
    height: 40px;
    margin: 10px 1px;
}

.roomText {
  display: inline-flex;
  padding-right: 5%;
}