.row {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.leftColumn {
    float: left;
    width: 30%;
    overflow-y: scroll;
    height: 100vh;
    color: #063970;
}

.rightColumn {
    float: right;
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    color: #063970;
}

.buttonCreateRoom {
    color: #063970;
    height: 40px;
    position: absolute;
    top: 40%;
    display: inline-block;
    width: 170px;
}

.buttonJoinRoom {
    color: #063970;
    height: 40px;
    position: absolute;
    display: inline-block;
    width: 170px;
    top: 50%;
}

.loadingRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadingDiv {
    font-size: large;
    padding: 0 0 5px 15px;
}
