.main {
    height: 100vh;
    padding: 20px;
}

.logout {
    background: transparent;
    border-color: #e28743;
    color: #e28743;
    width: 70px;
    height: 30px;
}

.exit {
    background: transparent;
    border-color: #e28743;
    color: #e28743;
    width: 70px;
    height: 30px;
}

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1Col1 {
    border: 2px solid #f0f0f0;
    width: 400px;
    height: 300px;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 10px 0;
}

.row3col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typo {
    font-size: 15px;
}

.row3WordBtn {
    margin: 10px 5px;
    width: 130px;
}

.row3StartStop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.StopButton {
    background-color: red;
    color: white;
}

.StartButton {
    align-items: center;
}

.viewAnswerButton {
    width: 130px;
}

.row4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
