.practiceModuleDiv {
    height: 100vh;
    padding: 20px;
}

/* Video container */
.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.videoStream {
    border: 2px solid #f0f0f0;
    width: 500px;
    height: 282px;
}

.disabledVideoLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f0f0f0;
    width: 500px;
    height: 282px;
}

/* Word to Sign */
.signWordRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 10px 0;
}

.signWordTypo {
    font-size: 20px;
}

.actualSignWord {
    font-weight: bold;
}

.signResultText {
    font-weight: bold;
    padding-left: 5px;
}

/* Spin/loading word */
.spinIndicator {
    padding-left: 10;
}

.loadingOutline {
    font-size: 20;
}

.loadingDisabledOutline {
    font-size: 40;
}

/* Result page w/ Retry and new word */
.resultPageRow {
    display: flex;
    justify-content: center;
}

.resultPageButton {
    margin: 10px 5px;
    width: 130px;
}

/* Start/stop recording */
.startStopRecordingRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.startStopButton {
    align-items: center;
}

/* View answer */
.viewAnswerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.viewAnswerButton {
    width: 130px;
}

/* Note: Not used */
.logout {
    background: transparent;
    border-color: #e28743;
    color: #e28743;
    width: 70px;
    height: 30px;
}

.exit {
    background: transparent;
    border-color: #e28743;
    color: #e28743;
    width: 70px;
    height: 30px;
}
